<a href="https://colab.research.google.com/github/M-1231/python-random-quote/blob/master/Assignment_1_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
#Q.1
s = "mahima"
l = [1,2,3,4,"mahi",11.43,False]
f=40.987
t=("abc","def","mno","pqr")
print(s,l,f,t)
print(type(s))
print(type(l))
print(type(f))
print(type(t))

mahima [1, 2, 3, 4, 'mahi', 11.43, False] 40.987 ('abc', 'def', 'mno', 'pqr')
<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [2]:
#Q.2
var1=''
var2='[DS,ML,Python]'
var3=['DS','ML','Python']
var4=1.
l=[var1,var2,var3,var4]
for i in l:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [3]:
#Q.3
a=2
b=4
print(a/b)#here 2/4=0.5
print(a%b)#here 2%4=2 remainder
print(a//b)#here 2//4=0.5 round off to 0
print(a**b)#here 2^4=16

0.5
2
0
16

In [20]:
#Q.4
l=["ab",2+3j,True,98,0.1,"",(1,2,0.1,"jk",True),3.33333333333,False,'[mxyz]']
for j in l:
  print(j)
  print(type(j))

ab
<class 'str'>
(2+3j)
<class 'complex'>
True
<class 'bool'>
98
<class 'int'>
0.1
<class 'float'>

<class 'str'>
(1, 2, 0.1, 'jk', True)
<class 'tuple'>
3.33333333333
<class 'float'>
False
<class 'bool'>
[mxyz]
<class 'str'>

In [21]:
#Q.5
a=int(input())
b=int(input())
c=a/b
while a%b==0:
  print("a is purely divisible by b")
  print("a is", c ,"times divisible by b")
  break
else:
  print("a is not divisible by b")

80
40
a is purely divisible by b
a is 2.0 times divisible by b

In [18]:
#Q.6
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
  if(i%3==0):
      print (i," is divisible by 3")
  else:
      print(i," is not divisible by 3")
  i=i+1

1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3
25  is not divisible by 3

In [14]:
#Q.7
#in string we cannot mutate one string with another hence it is immutable
s="mahima"
s[3]
s[3]="t"

TypeError: ignored

In [24]:
#in list we can mutate one value with another hence it is mutable
l= [ 1,2,3,"hari",87.90,True,'']
l
l[4]=5+6j
l

[1, 2, 3, 'hari', (5+6j), True, '']